@import "tailwindcss";

@keyframes marquee-scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  display: flex;
  width: max-content;
  animation: marquee-scroll 25s linear infinite;
  
}
.marquee:hover {
  animation-play-state: paused;
}

.marquee > div {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: inset 0 0 0 1px #e5e7eb; /* normal border look */
}

.marquee > div:hover {
  transform: scale(1.08);
  box-shadow:
    inset 0 0 0 1px #e5e7eb,
    0 20px 40px rgba(0, 0, 0, 0.15);
}

/* hide scrollbar */
::-webkit-scrollbar {
  display: none;
}
